ul { padding: 0;}
li.navItem { float: left; margin-right: 58px; margin-bottom: 15px; list-style: none; font-size: 28px;}
a.navItem {text-decoration: none; color: #444444; padding-top: 5px;}
a.navItem:hover {color: #628CB6}
a.navItem.selected { border-top: solid 3px #336699; color: #336699 }
a.navItem.selected:hover { border-top: solid 3px #628CB6; color: #628CB6}
.menu-row {width: 940px; margin: 0 auto; height: auto; border-left: 1px solid black; border-right: 1px solid black;}
.menu-column {float: left; display: inline; margin: 0 1.04167% 0 1.04167%;  /*10px / 960px*/}
.noSelect { -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.transition { -webkit-transition: all ease-in-out .19s; -moz-transition: all ease-in-out .19s; -ms-transition: all ease-in-out .19s; -o-transition: all ease-in-out .19s; transition: all ease-in-out .19s;}
a.currentPage { background: #444444;}
a.currentPage:hover { background-color: #777777;}
.menu-grid_12 {width: 97.9166%;}
div.menu-column.menu-grid_12 { padding: 5px 0;}