div.container { border: 1px solid #ccc; border-top-width: 0; padding-bottom: 15px; }
table#queueTable { width: 50%; margin: 0 auto !important; border-collapse: collapse; }
table#queueTable tr.even { background: #FFF; }
table#queueTable tr.odd { background: #EFF6FC; }
table#queueTable tr th { background: #236597; color: white; font-weight: normal; padding: 5px; width: 33%; }
table#queueTable tr td { text-align: center; padding: 3px; width: 33%; }
table#queueTable tfoot tr td { background: #236597; height: 5px; }
/*table#queueTable tbody tr.sub-header { background-color: #DCE9F3 }*/
table#queueTable tbody tr.sub-header { background-color: #DCE9F3; border-top: 1px solid #000; border-bottom: 1px solid #000; }